@font-face {
    font-family: 'AvantGarde';
    src:  url('../assets/fonts/ITCAvantGardeStd-XLt.woff') format('woff');
}
  
  @font-face {
    font-family: 'AvantGardeMedium';
    src:  url('../assets/fonts/ITCAvantGardeStd-Md.woff') format('woff');
}