footer
{
    height: 10vh;
    width: 100vw;

    font-family: 'AvantGarde', Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // background-color: antiquewhite;

    a {
        text-decoration: none;
        color: black;
    }

    p {
        font-size: 15px;
    }

    div.main_footer--social
    {
        display: flex;
        gap: 10px;
    }
}


